<!DOCTYPE html>
<html>
<head>
    <title>>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% users.forEach(user => { %>
            <li> Nom: <%= user.name  %> </li>
            <li> Age: <%= user.age  %> </li>
            <li> Ville: <%= user.city  %> </li>
        <% }) %>
    </ul>
</body>
</html>
